@import '../globals/globals.scss';

.tabs {
    margin-bottom: baselines(5);
}

.tab-title {
    display: inline-block;
    margin-right: 1px;
    //border-bottom: 1px solid colour(darkgrey);
    padding: 0 1em;
    height: baselines(4);
    line-height: baselines(4);
    cursor: pointer;
    background: colour(darkgrey);

    &:hover {
        background: colour(blue);
    }
}

.tab-title__label {
    cursor: pointer;
}

.tab-title__active {
    background: colour(lightgrey);

    &:hover {
        background: colour(lightgrey);
    }
}

.tab {
}

.tab__content {
    display: none;
    padding: 1em;
    background: colour(lightgrey);

    .tab__radio:checked + & {
        display: block;
    }
}

.tab__radio {
    display: none;
}
