@import '../globals/globals.scss';

.menu {
    background: colour(blue);
    box-shadow: 0 2px 0 0 rgba(colour(darkgrey), 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0.25em 2em;
    height: $menu-height;
    line-height: $menu-height;
}

.menu__title {
    font-size: font-size(body);
    height: $menu-height;
}

.menu__item {
    float: right;
    margin-left: 1em;
    margin-top: 3px;

    &:first-child {
        float: left;
        margin: 0;
    }
}



.menu__download {
    display: block;
    background: colour(lightgrey);
    height: baselines(3);
    line-height: baselines(3);
    padding: 0 1em;
    text-decoration: none;
    color: black;
}
