@import '../globals/fonts.scss';
@import '../globals/globals.scss';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Baskerville';
    font-size: font-size(body);
}

label {
    display: block;
    margin-bottom: 0.5em;
}

button {
    -webkit-appearance: none;
    border: none;
    padding: 0.5em;
}

.app {
}

$content-padding-top: $menu-height + baselines(2);

.content {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-column-gap: 2.5%;
}

.content__first-column {
    background: colour(lightgrey);
    padding: $content-padding-top $site-padding;
}

.content__second-column {
    padding: $content-padding-top $site-padding 1em 0;
    overflow: hidden;
    grid-column-start: span 4;
}
