@import '../globals/globals.scss';

.breadcrumb {
    position: fixed;
    top: $menu-height;
    width: calc(82% - 1em);
    right: 0;
    background: rgba(255,255,255,0.95);
    padding: 0.5em 0;
    z-index: 1;
}

.breadcrumb__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    direction: rtl;
    unicode-bidi: plaintext;
}
