.scene__header {
    overflow: hidden;
}

.scene__label {
    margin-bottom: 3em;
    width: 80%;
    float: left;
}

.scene__label-text {
    font-size: small;
    margin-right: 1em;
    display: none;
}

.scene__input {
    display: inline-block;
    font-size: 70px;
    margin: 0;
    border: 1px solid black;
    font-family: 'Baskerville';
    padding: 0.25em;
    width: 100%;

    &:active,
    &:focus {
        outline: 0;
        -webkit-appearance: none;
    }
}

.scene__input--filled {
}

.scene__delete {
    float: right;
    width: 18%;
    font-size: 74px;
    line-height: 88px;
    vertical-align: middle;
    padding: 0.25em;
}
