@import '../globals/globals.scss';

.scene__header {
    overflow: hidden;
}

.scene__label {
    margin-bottom: 3em;
    width: 80%;
    float: left;
}

.scene__label-text {
    font-size: small;
    margin-right: 1em;
    display: none;
}

.scene__input {
    display: block;
    font-size: 70px;
    margin: 0;
    border: 1px solid colour(lightgrey);
    font-family: 'Baskerville';
    padding: 0.25em;
    width: 100%;

    &:focus {
        appearance: none;
        -webkit-appearance: none;
        outline: 0;
        box-shadow: inset 0 0 0 3px colour(blue);
        border: 1px solid colour(blue);
    }
}

.scene__input--filled {
}

.scene__delete {
    float: right;
    width: 18%;
    font-size: 74px;
    height: 125px;
    line-height: 0;
    vertical-align: middle;
    padding: 0.25em;
    display: block;
    background: colour(lightgrey);
    color: black;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: colour(darkgrey);
    }

    &:focus {
        appearance: none;
        -webkit-appearance: none;
        outline: 0;
        box-shadow: inset 0 0 0 3px colour(blue);
    }
}
